.wrapper {
   
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    
  }
  
  .form-wrapper {
   
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #e2e2e2;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: #111;
   
    
  }
  
  label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: bolder;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }

.project,
.github,
.tech,
.description,
.Post,
.year,
.board,
.stats,
.qualification,
.name,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .project,
.github,
.tech,
  .description,
  .Post,

  .year,
  .board,
  .stats,
  .qualification,
  .stats,
  .firstName,
  .lastName {
    width: 49%;
  }


  .project,
.github,
.tech,
  .description,
  .Post,
  .year,
  .board,
  .stats,
  .qualification,
  .stats,
  .name,
  .email,
  .password {
    width: 100%;
  }
  
  .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .createAccount button {
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  

  .btun{
    width: 130px;
    height: 40px;
    font-size: 1.1rem;
    cursor: pointer;
    background: #171717;
    color: white;
    border: none;
    transition: all .4s;
  }

  .btun:hover{
    border-radius: 5px;
    transform: translate(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
    0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db;
  }